.header {
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 10px 100px;
}
.nav-items > ul > li {
    padding: 10px;
    list-style-type:none;
    margin: 0px 20px;
}

.res-card {
    width:15%;
    height:350px;
    padding:5px;
    background-color: rgb(241, 239, 239);
}

.res-card:hover {
    border:1px solid grey;
    cursor: pointer;
    box-shadow:10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.img-logo {
    width:100%;
    height:35%;
}

.img-logo:hover {
    transform: scale(0.99);
}

.res-container {
    display: flex;
    flex-wrap:wrap;
    gap:12px;
    justify-content:center;
}

.btn {
    padding: 8px 5px;
}

.btn-filter {
    cursor:pointer;
}