.header {
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 10px 100px;
}
.nav-items > ul > li {
    padding: 10px;
    list-style-type:none;
    margin: 0px 20px;
}

.res-card, .shim {
    width:100%;
    height:350px;
    padding:5px;
    background-color: rgb(241, 239, 239);
}

.res-card:hover {
    border:1px solid grey;
    box-shadow:10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.img-logo {
    width:100%;
    height:35%;
}

.img-logo:hover {
    transform: scale(0.99);
}

.res-container a, .nav-items ul li a{
    text-decoration:none;
    color:inherit;
}

.res-container a {
    width:200px;
}

.shim {
    background-color: rgb(231, 225, 225);
    width:190px;
    height:220px;
}

.res-container, .shim-container {
    display: flex;
    flex-wrap:wrap;
    gap:20px;
}

.btn {
    padding: 8px 5px;
}

.btn-filter {
    cursor:pointer;
    margin:0px 50px 0px 0px;
}

.login-btn {
    cursor:pointer;
    border-radius: 5px;
    border:1px solid black;
    background-color: white;
}

.userList {
    display: flex;
    flex-wrap:wrap;
    gap:20px;
}

.user > img {
    width:200px;
    height:200px;
}

.catagoryList {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:10px;
}

.catagory {
    box-shadow: 5px 5px 5px rgb(160, 157, 157);
    width:50%;
    background-color:rgb(252, 242, 242);
    color:black;
    font-weight: bold;
    margin:5px;
    padding:10px;
}

.accordianHeader {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.accordianData {
    display:flex;
    margin:15px 0px 10px 0px;
    justify-content:space-between;
    border-top: 1px solid rgb(197, 193, 193);
}

.itemImage {
    height: 140px;
    width:200px;
    scale:0.9;
}

.outerButton , .cartButton{
    background-color: white;
    color:green;
    border:1px solid grey;
    border-radius:2px;
    position: absolute;
    right: 355px;
    cursor:pointer;
}

.insideButton {
    border:none;
    color:green;
    padding: 0px 8px 0px 8px;
    cursor:pointer;
}

.cartData {
    margin-left:70px;
    box-shadow: 5px 5px 5px rgb(160, 157, 157);
    background-color:rgb(255, 249, 249);
    color:black;
    font-weight: bold;
    padding-left: 5px;
}