.header {
    display:flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    display: flex;
    padding: 10px 100px;
}
.nav-items > ul > li {
    padding: 10px;
    list-style-type:none;
    margin: 0px 20px;
}

.res-card {
    width:15%;
    height:50vh;
    padding: 5px;
    background-color: rgb(238, 210, 210);
}

.res-card:hover {
    border:1px solid grey;
    cursor: pointer;
}

.img-logo {
    width:100%;
    height:45%;
}

.res-container {
    border:2px solid black;
    display: flex;
    flex-wrap:wrap;
    gap:12px;
    justify-content:center;
}