/* app */
.main {
    display:flex;
    flex-direction:column;
    align-items:center;
}


/* app2 */
.main2 {
    display:flex;
    justify-content:center;
}

img {
    width:100%;
}
 .insideContainer {
    width:250px;
    border:2px solid black;
 }

 .insideContainer:hover {
    scale:1.1;
 }

 .insideContainer2 {
    border:2px solid black;
 }

 .accrodianHeader {
    display:flex;
    justify-content: space-between;
    margin-bottom:5px;
    padding:4px;
 }

 .btn {
    height:20px;
    align-self:center;
    border-radius:30%;
 }

 .accordian {
    margin-bottom: 20px;
    padding: 10px;
    border:1px solid grey;
 }

 .app4 {
    display:flex;
    justify-content:center;
    height: 100px;
    align-items: center;
 }

 .round-div {
    border:2px solid black;
    width:20px;
    height:15px;
    border-radius:50%;
    margin-right:3px;
 }

 .round-div:hover {
    background-color: black !important;
    cursor: pointer;
 }