body {
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow: hidden;
    transform: scale(0.6);
    background-color: red;
}

.contanier {
    display: flex;
    width: 45%;
    height: 15%;
    justify-content: space-between;;
}

.box{
    width:20%;
    height: auto;
    background-color: yellow;
}

.circle {
    width: 20%;
    height:100%;
    border-radius:50%;
    transform: scale(0.6);
    background-color: yellow;
}